<div>
  <div class="flex items-center justify-between">
    <%= form_label(form, locals[:field_label], labels_translation(locals[:label_translation])) %>

    <% if locals[:show_forgot_password] %>
      <div class="text-sm">
        <%= link_to  I18n.t('labels.user_management.forgot_password'), new_password_recovery_path, class: 'font-semibold text-sky-600 hover:text-sky-500' %>
      </div>
    <% end %>
  </div>
  <div class="mt-2">
    <%= form.password_field locals[:field_label], data: locals[:data] || {}, class: form_field_styles, autocomplete: 'current-password', required: true %>
  </div>
  <%= render_field_errors(@user, locals[:field_label]) %>

  <div data-password-validation-target="<%= "#{to_lower_camel_case(locals.dig(:data, :'password-validation-target'))}Error" %>" class="text-red-600 text-sm mt-2 hidden"></div>
</div>