<div class="max-w-lg mx-auto w-full px-4" >
  <%= form_with_styling model: @user, url: update_password_user_path(@user), method: :put, local: true,  data: { controller: "password-validation", action: "submit->password-validation#validate" } do |form| %>
    <%= render 'partials/forms/password_input', form: form, locals: { field_label: :password, label_translation: 'user_management.current_password' } %>
    <%= render 'partials/forms/password_input', form: form, locals: { field_label: :new_password, label_translation: 'user_management.new_password', data: { 'password-validation-target': :password } } %>
    <%= render 'partials/forms/password_input', form: form, locals: { field_label: :new_password_confirmation, label_translation: 'user_management.new_password_confirmation', data: { 'password-validation-target': :passwordConfirmation }  } %>
    <%= render 'partials/forms/form_submit', form: form, locals: { form_submit_label: 'user_management.update_password',  disabled: true } %>
  <% end %>
</div>
