<div class="relative ml-3 hidden md:block" data-controller="profile_dropdown">
  <button type="button" class="relative flex flex-col items-center hover:text-sky-500 rounded-md bg-sky-600" id="user-menu-button" data-action="profile_dropdown#toggle" aria-expanded="false" aria-haspopup="true">
    <%= inline_svg "icons/user.svg", class: "h-12 w-12" %>
  </button>

  <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" data-profile-dropdown-target="menu" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
    <%= link_to new_session_path, class: "block px-4 py-2 text-sm text-gray-700", id: "user-menu-item-0" do %>
      <%= labels_translation('navigation.sign_in') %>
    <% end %>
    <%= link_to new_user_path, class: "block px-4 py-2 text-sm text-gray-700", id: "user-menu-item-2" do %>
      <%= labels_translation('navigation.sign_up') %>
    <% end %>
  </div>
</div>